page-setup{

    ion-slide.swiper-slide {
        align-items: flex-start;
    }
    
    .footer-bar{
        margin:auto;
        text-align: center;
    }
    .footer-bar .button-md{
        margin: 5px 12%;
    }
}