page-list {
    .itemOrderQty{
        font-size: 13px;
        color: gray;
        margin-left:20px;
    }

    .item-notes{
        font-size: 13px;
        color: gray;
        margin-left:20px;
    }

    .row{
        padding: 0px;
    }
    .label-md{
        padding:0;
        margin: 0;
    }
    .item-md [item-end]{
        margin: 0;
    }

    .money{
        text-align: left !important;
        width:100%;
    }
}
